[submodule "command-T"]
	path = command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/command-T"]
	path = bundle/command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
